body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

#map {
  width: 70%;
}

.sidebar {
  width: 30%;
  padding: 10px;
  background: #f5f5f5;
  overflow-y: auto;
}

.box {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}

button {
  margin-top: 5px;
}